@using RssListing.WebApi
@model dynamic

<h3>@Model.title</h3>
@if (!string.IsNullOrWhiteSpace((string)Model.feedUrl))
{
    var articles = RssListing.GetListingItems((string)Model.feedUrl);


    foreach (var article in articles)
    {
        <div class="row">
            <h4><a href="@article.Url">@article.Title</a></h4>
            <div>
                @Html.Raw(article.Summary)
            </div>
        </div>
    }
}